* {
    background-color: #70a7b5;
  }
  
  body {
    padding: 20px;
    color: #000000;
  }
  
  h1 {
    text-align: center;
  }
  
  #container {
    text-align: center;
    background-color: #70a7b5;
    padding: 20px;
  }
  
  .input-div {
    display: block;
    margin: 10px auto;
    max-width: 300px;
  }